:root {
  --color-black-blue: #42567a;
  --color-black-blue-rgb: 66, 86, 122;
  --color-blue: #3877ee;
  --color-pink: #ef5da8;
  --color-black-blue-secondary: #303e58;
  --color-black-blue-secondary-rgb: 48, 62, 88;
  --color-body: #f4f5f9;
}
